<launch>

	<arg name="text" default = "Hello Class!!" />
	<node name="Talker" pkg="teachbeer" type="node1.py" output="screen">
		<param name="text" value="$(arg text)"/>
	</node>


	<node name="Listener" pkg="teachbeer" type="node2.py" output="screen">
	</node>

	<node name="Turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen">
	</node>

	<node name="GUI" pkg="teachbeer" type="gui.py" output="screen">
	</node>
	 

</launch>
